---
const { elem1, elem2, elem3 } = Astro.props;
---

<header>
  <div class="search_bar">
    <div class="search_icon">
      <img src="/media/search_icon.svg" alt="" />
    </div>
    <nav class="nav">
      <ul class="menu">
        <li><h2><a href=`#${elem1}` aria-label=`Go to ${elem1}`>{elem1}</a></h2></li>
        <li><h2><a href=`#${elem2}` aria-label=`Go to ${elem2}`>{elem2}</a></h2></li>
        <li><h2><a href=`#${elem3}` aria-label=`Go to ${elem3}`>{elem3}</a></h2></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  /** mobile **/
  h2 {
    margin: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    transition: opacity 0.3s ease;
    opacity: 5;
    background-color: var(--oldlace);
    margin-bottom: 0;
  }

  header.scrolled {
    opacity: 0.95;
  }

  .search_bar {
    background-color: var(--snow);
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);
    right: 0;
    margin: 5vw 5vw 0 5vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 122px;
  }

  .search_icon {
    background-color: var(--mediumpurple);
    border-radius: 18px 0px 0px 18px;
    border-right: var(--border-1);
    display: grid;
    align-content: center;
    justify-content: center;
    width: clamp(50px, 15vw, 100px);
  }

  ul {
    margin: 0.5rem;
  }

  /** desktop **/

  @media (min-width: 860px) {
    .search_bar {
      grid-template-columns: 1fr 6fr;
    }
    .nav {
      place-content: center;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: center;
    }
  }
</style>
